<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/recuperarContrasena.css">
    <title>recuperar Contraseña</title>
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Recuperación de Contraseña👮🏽‍♂️</h3>

        <label for="username">Correo electronico donde se enviará el código</label>
        <input type="text" placeholder="example@gmail.com" id="username">

        <button class="button">Enviar Correo</button>

        <h3><a class="ir-login" href="/login.html">Recuerdas tu Contraseña? Inicia sesión!</a></h3>

    </form>
</body>

</html>