*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1b2a;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#0f2027, #2c5364);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #43e97b, #38f9d7);
    right: -30px;
    bottom: -80px;
}

form {
    height: 420px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
    opacity: 0.5;
}

.button {
    margin-top: 30px;
    width: 100%;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #1845ad;
}

button:hover {
    color: #ffffff;
    transform: scale(1.02);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #f09819;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #23a2f6;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 150%;
}

.ir-login {
  font-size: 15px;  
  color: #fff;     
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin-top: 10px;
}

.ir-login {
  text-decoration: underline;
  color: #1d4ed8; 
}